<!-- VEHICLES TABLE -->
<div *ngIf="vehicleCols" class="p-4">
  <h4 class="pb-2">Vehículos</h4>
  <p-table
    *ngIf="vehicleArray; else tableTemplate"
    #vehicleTable
    [value]="vehicleArray"
    [columns]="vehicleCols"
    [rows]="10"
    [(selection)]="apiService.selectedVehicle"
    (onRowSelect)="showEditVehicle(apiService.selectedVehicle)"
    [rowHover]="true"
    [showCurrentPageReport]="true"
    [paginator]="true"
    [globalFilterFields]="vehicleFilters"
    [scrollable]="true"
    [style]="{ width: '100%' }"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} vehículos"
  >
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-sm-12">
          <input
            #searchVehicle
            class="form-control"
            type="search"
            pInputText
            placeholder="Buscar ..."
            (input)="vehicleTable.filterGlobal(searchVehicle.value, 'contains')"
          />
        </div>

        <div class="col">
          <p-button
            label=" Añadir vehículo"
            (click)="showAddVehicle()"
          ></p-button>
          <button
            type="button"
            pButton
            pRipple
            class="p-button-success mx-4"
            icon="pi pi-file-excel"
            (click)="vehicleTable.exportCSV()"
            pTooltip="Exportar tabla csv"
            tooltipPosition="bottom"
          ></button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of vehicleCols" style="width: 100px" />
        <col style="width: 140px" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th
          *ngFor="let col of vehicleCols"
          class="text-center"
          [pSortableColumn]="col.field"
        >
          {{ col.header }}
          <p-sortIcon
            [field]="col.field"
            ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"
          ></p-sortIcon>
          <p-columnFilter
            type="text"
            [field]="col.field"
            display="menu"
            [showMatchModes]="true"
            [showAddButton]="false"
            [showOperator]="false"
          >
            <ng-template pTemplate="header">
              <h6 class="px-4 pt-3">{{ col.header }}</h6>
            </ng-template>
          </p-columnFilter>
        </th>
        <th class="text-center"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData" (click)="showVehicleDetails(rowData)">
        <td *ngFor="let col of columns" class="text-justify">
          <span *ngIf="col.field === 'fechaalta'">
            {{ rowData[col.field] | date: "dd/MM/yyyy" }}
          </span>

          <span *ngIf="col.field === 'Activo'; else elseBlock">
            {{ rowData[col.field] ? "Activo" : "Inactivo" }}
          </span>
          <ng-template #elseBlock>
            <span
              [ngStyle]="{
                'font-size': col.field === 'Observaciones' ? '0.9em' : ''
              }"
            >
              {{ rowData[col.field] }}
            </span>
          </ng-template>
        </td>
        <td class="text-center">
          <button
            pButton
            pRipple
            type="button"
            class="p-button-rounded p-button-outlined mx-2"
            icon="pi pi-pencil"
            pTooltip="Editar vehículo"
            tooltipPosition="bottom"
            (click)="
              showEditVehicle(rowData);
              $event.stopImmediatePropagation();
              $event.preventDefault()
            "
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-danger p-button-outlined mx-2"
            pTooltip="Anular vehículo"
            tooltipPosition="bottom"
            (click)="removeVehicle(rowData); $event.stopPropagation()"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">No se han obtenido resultados</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- DRIVERS TABLE -->
<div *ngIf="driverCols" class="p-4">
  <h4 class="pb-2">Conductores</h4>
  <p-table
    *ngIf="driverArray; else tableTemplate"
    #driverTable
    [value]="driverArray"
    [columns]="driverCols"
    [rows]="10"
    [(selection)]="apiService.selectedDriver"
    [rowHover]="true"
    [showCurrentPageReport]="true"
    [paginator]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} vehículos"
    [globalFilterFields]="driverFilters"
  >
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-sm-10">
          <input
            #searchDriver
            class="form-control"
            type="search"
            pInputText
            placeholder="Buscar ..."
            (input)="driverTable.filterGlobal(searchDriver.value, 'contains')"
          />
        </div>
        <div class="col">
          <p-button
            label=" Añadir conductor"
            (click)="showAddDriver()"
          ></p-button>

          <button
            type="button"
            pButton
            pRipple
            class="p-button-success mx-4"
            icon="pi pi-file-excel"
            (click)="driverTable.exportCSV()"
            pTooltip="Exportar tabla csv"
            tooltipPosition="bottom"
          ></button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th
          *ngFor="let col of driverCols"
          class="text-center"
          [pSortableColumn]="col.field"
        >
          {{ col.header }}
          <p-sortIcon
            [field]="col.field"
            ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"
          ></p-sortIcon>
          <p-columnFilter
            type="text"
            [field]="col.field"
            display="menu"
            [showMatchModes]="true"
            [showAddButton]="false"
            [showOperator]="false"
          >
            <ng-template pTemplate="header">
              <h6 class="px-4 pt-3">{{ col.header }}</h6>
            </ng-template>
          </p-columnFilter>
        </th>
        <th class="text-center"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData" (click)="showDriverDetails(rowData)">
        <td *ngFor="let col of columns" class="text-center">
          {{ rowData[col.field] }}
        </td>
        <td class="text-center">
          <button
            pButton
            pRipple
            type="button"
            class="p-button-rounded p-button-outlined mx-2"
            icon="pi pi-pencil"
            pTooltip="Editar conductor"
            tooltipPosition="bottom"
            (click)="
              showEditDriver(rowData);
              $event.stopImmediatePropagation();
              $event.preventDefault()
            "
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-danger p-button-outlined mx-2"
            pTooltip="Anular conductor"
            tooltipPosition="bottom"
            (click)="removeDriver(rowData); $event.stopPropagation()"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">No se han obtenido resultados</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- NEW DRIVER DIALOG -->
<p-dialog
  *ngIf="displayAddDriver"
  header="Nuevo conductor"
  [style]="{ width: '50vw' }"
  [modal]="true"
  [(visible)]="displayAddDriver"
>
  <form [formGroup]="formDriverGroup" class="form">
    <div *ngFor="let col of driverCols; let n = index">
      <label [for]="col.field">{{ col.header }} </label>
      <div class="col-5 mt-2 mb-4">
        <input
          *ngIf="col.type === 'input'"
          class="form-control"
          [class.invalid]="
            this.formDriverGroup.controls[col.field].touched &&
            this.formDriverGroup.controls[col.field].invalid
          "
          [class.valid]="this.formDriverGroup.controls[col.field].valid"
          [formControlName]="col.field"
          [formControlName]="col.field"
          [name]="col.field"
        />
        <p-multiSelect
          *ngIf="col.type === 'select'"
          optionLabel="name"
          optionValue="value"
          defaultLabel="Selecciona una opción"
          [options]="col.options"
          [formControlName]="col.field"
        ></p-multiSelect>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="displayAddDriver = false"
    >
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="formDriverGroup.invalid"
      (click)="saveDriver(true)"
    >
      Guardar
    </button>
  </ng-template>
</p-dialog>

<!-- EDIT DRIVER DIALOG -->
<p-dialog
  header="Editar conductor"
  [style]="{ width: '50vw' }"
  [modal]="true"
  [(visible)]="displayEditDriver"
>
  <form [formGroup]="formDriverGroup" class="form">
    <div *ngFor="let col of driverCols; let n = index">
      <label [for]="col.field">{{ col.header }} </label>
      <div class="col-5 mt-2 mb-4">
        <input
          *ngIf="col.type === 'input'"
          class="form-control"
          [class.invalid]="
            this.formDriverGroup.controls[col.field].touched &&
            this.formDriverGroup.controls[col.field].invalid
          "
          [class.valid]="this.formDriverGroup.controls[col.field].valid"
          [formControlName]="col.field"
          [name]="col.field"
        />
        <p-multiSelect
          *ngIf="col.type === 'select'"
          optionLabel="name"
          optionValue="value"
          defaultLabel="Selecciona una opción"
          [options]="col.options"
          [formControlName]="col.field"
        ></p-multiSelect>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="displayEditDriver = false"
    >
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="formDriverGroup.invalid"
      (click)="saveDriver()"
    >
      Guardar
    </button>
  </ng-template>
</p-dialog>

<!-- DRIVER DETAIL DIALOG -->
<p-dialog
  header="Detalles del conductor"
  [(visible)]="displayDriverDetails"
  [dismissableMask]="true"
  [closable]="true"
  [closeOnEscape]="true"
  [style]="{ width: '50vw' }"
  [modal]="true"
>
  <div *ngFor="let col of driverCols">
    <b>{{ col.header }}: </b>
    <span *ngIf="apiService.selectedDriver">{{
      apiService.selectedDriver[col.field]
    }}</span>
  </div>
</p-dialog>

<!-- NEW VEHICLE DIALOG -->
<p-dialog
  header="Nuevo vehículo"
  [(visible)]="displayAddVehicle"
  [style]="{ width: '50vw' }"
  [modal]="true"
>
  <form [formGroup]="formVehicleGroup">
    <div *ngFor="let col of vehicleCols" class="row">
      <label [for]="col.field" class="col-12">{{ col.header }} </label>
      <div class="col-5 mt-2 mb-4">
        <input
          *ngIf="col.type === 'input'"
          class="form-control"
          [class.invalid]="
            this.formVehicleGroup.controls[col.field].touched &&
            this.formVehicleGroup.controls[col.field].invalid
          "
          [class.valid]="this.formVehicleGroup.controls[col.field].valid"
          [formControlName]="col.field"
          [formControlName]="col.field"
          [name]="col.field"
        />
        <p-dropdown
          *ngIf="col.type === 'select'"
          optionLabel="name"
          optionValue="value"
          placeholder="Selecciona una opción"
          [options]="col.options"
          [formControlName]="col.field"
        ></p-dropdown>

        <textarea
          *ngIf="col.type === 'textarea'"
          pInputTextarea
          [rows]="3"
          [cols]="50"
          [formControlName]="col.field"
        ></textarea>

        <p-inputSwitch
          *ngIf="col.type === 'checkbox'"
          [formControlName]="col.field"
        ></p-inputSwitch>

        <p-calendar
          *ngIf="col.type === 'date'"
          [formControlName]="col.field"
          dateFormat="dd.mm.yy"
          [showButtonBar]="true"
          [locale]="apiService.calendar.es"
          [defaultDate]="apiService.calendar.today"
        ></p-calendar>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="displayAddVehicle = false"
    >
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="formVehicleGroup.invalid"
      (click)="saveVehicle(true)"
    >
      Guardar
    </button>
  </ng-template>
</p-dialog>

<!-- EDIT VEHICLE DIALOG -->
<p-dialog
  header="Editar vehículo"
  [(visible)]="displayEditVehicle"
  [style]="{ width: '50vw' }"
  [modal]="true"
>
  <form [formGroup]="formVehicleGroup">
    <div *ngFor="let col of vehicleCols">
      <label [for]="col.field">{{ col.header }} </label>
      <div class="col-5 mt-2 mb-4">
        <input
          *ngIf="col.type === 'input'"
          class="form-control"
          [class.invalid]="
            this.formVehicleGroup.controls[col.field].touched &&
            this.formVehicleGroup.controls[col.field].invalid
          "
          [class.valid]="this.formVehicleGroup.controls[col.field].valid"
          [formControlName]="col.field"
          [formControlName]="col.field"
          [name]="col.field"
        />

        <p-dropdown
          *ngIf="col.type === 'select'"
          optionLabel="name"
          optionValue="value"
          placeholder="Selecciona una opción"
          [options]="col.options"
          [formControlName]="col.field"
        ></p-dropdown>

        <textarea
          *ngIf="col.type === 'textarea'"
          pInputTextarea
          [rows]="3"
          [cols]="50"
          [formControlName]="col.field"
        ></textarea>

        <p-inputSwitch
          *ngIf="col.type === 'checkbox'"
          [formControlName]="col.field"
        ></p-inputSwitch>

        <p-calendar
          *ngIf="col.type === 'date'"
          [formControlName]="col.field"
          dateFormat="dd.mm.yy"
          [showButtonBar]="true"
          [locale]="apiService.calendar.es"
          [defaultDate]="apiService.calendar.today"
        ></p-calendar>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="displayEditVehicle = false"
    >
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="formVehicleGroup.invalid"
      (click)="saveVehicle()"
    >
      Guardar
    </button>
  </ng-template>
</p-dialog>

<!-- VEHICLE DETAIL DIALOG -->
<p-dialog
  header="Detalles del vehículo"
  [(visible)]="displayVehicleDetails"
  [dismissableMask]="true"
  [style]="{ width: '50vw' }"
  [modal]="true"
>
  <div *ngFor="let col of vehicleCols">
    <b>{{ col.header }}: </b>
    <!-- <span *ngIf="apiService.selectedVehicle">{{
      apiService.selectedVehicle[col.field]
    }}</span> -->
    <span *ngIf="apiService.selectedVehicle">
      <span *ngIf="col.field != 'Activo'">
        {{ apiService.selectedVehicle[col.field] }}
      </span>
      <span *ngIf="col.field === 'Activo'">
        {{ apiService.selectedVehicle[col.field] ? "Activo" : "Inactivo" }}
      </span>
    </span>
  </div>
</p-dialog>

<p-toast></p-toast>

<!-- LOADER -->
<ng-template #tableTemplate>
  <p-table [value]="[1, 2, 3, 4, 5]">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of [1, 2, 3, 4]"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td *ngFor="let col of [1, 2, 3, 4]"><p-skeleton></p-skeleton></td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>
