<div class="p-4">
  <h4 class="pb-2">Vehículos</h4>
  <p-table
    *ngIf="vehicleArray; else vhTemplate"
    #vehicleTable
    [value]="vehicleArray"
    [columns]="selectedCols"
    [rows]="10"
    [(selection)]="vehicleService.selectedVehicle"
    (onRowSelect)="showEditVehicle(vehicleService.selectedVehicle)"
    [rowHover]="true"
    [showCurrentPageReport]="true"
    [paginator]="true"
    [globalFilterFields]="filters"
    [scrollable]="true"
    [style]="{ width: '100%' }"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} vehículos"
  >
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-sm-12">
          <input
            #searchVehicle
            class="form-control"
            type="search"
            pInputText
            placeholder="Buscar ..."
            (input)="vehicleTable.filterGlobal(searchVehicle.value, 'contains')"
          />
        </div>

        <div class="mx-3">
          <p-multiSelect
            [options]="cols"
            [(ngModel)]="selectedCols"
            optionLabel="header"
            selectedItemsLabel="{0} columnas seleccionadas"
            [style]="{ minWidth: '200px' }"
            placeholder="Selecciona las columnas"
          ></p-multiSelect>
        </div>

        <div class="col">
          <p-button
            label=" Añadir vehículo"
            (click)="showAddVehicle()"
          ></p-button>
          <button
            type="button"
            pButton
            pRipple
            class="p-button-success mx-4"
            icon="pi pi-file-excel"
            (click)="vehicleTable.exportCSV()"
            pTooltip="Exportar tabla csv"
            tooltipPosition="bottom"
          ></button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of selectedCols" [style.width]="col.width" />
        <col style="width: 140px" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th
          *ngFor="let col of selectedCols"
          class="text-center"
          [pSortableColumn]="col.field"
        >
          {{ col.header }}
          <p-sortIcon
            [field]="col.field"
            ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"
          ></p-sortIcon>
          <p-columnFilter
            type="text"
            [field]="col.field"
            display="menu"
            [showMatchModes]="true"
            [showAddButton]="false"
            [showOperator]="false"
          >
            <ng-template pTemplate="header">
              <h6 class="px-4 pt-3">{{ col.header }}</h6>
            </ng-template>
          </p-columnFilter>
        </th>
        <th class="text-center"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr (click)="showVehicleDetails(rowData)">
        <td
          *ngFor="let col of columns"
          class="text-justify"
          [ngSwitch]="col.field"
        >
          <span *ngSwitchCase="'entryDate'">
            {{ rowData[col.field] | date: "dd/MM/yyyy" }}
          </span>
          <span *ngSwitchCase="'leavingDate'">
            {{ rowData[col.field] | date: "dd/MM/yyyy" }}
          </span>
          <span *ngSwitchCase="'active'">
            {{ rowData[col.field] ? "Activo" : "Inactivo" }}
          </span>
          <span
            *ngSwitchDefault
            [ngStyle]="{
              'font-size': col.field === 'Observaciones' ? '0.9em' : ''
            }"
          >
            {{ rowData[col.field] }}
          </span>
        </td>
        <td class="text-center">
          <button
            pButton
            pRipple
            type="button"
            class="p-button-rounded p-button-outlined mx-2"
            icon="pi pi-pencil"
            pTooltip="Editar vehículo"
            tooltipPosition="bottom"
            (click)="
              showEditVehicle(rowData);
              $event.stopImmediatePropagation();
              $event.preventDefault()
            "
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-danger p-button-outlined mx-2"
            pTooltip="Anular vehículo"
            tooltipPosition="bottom"
            (click)="removeVehicle(rowData); $event.stopPropagation()"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">No se han obtenido resultados</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- LOADER -->
  <ng-template #vhTemplate>
    <app-skeleton-table #vhTemplate></app-skeleton-table>
  </ng-template>
</div>

<!-- FORM VEHICLE DIALOG -->
<p-dialog
  *ngIf="displayForm"
  [header]="
    formGroup.controls.plate.value ? 'Editar vehículo' : 'Nuevo vehículo'
  "
  [(visible)]="displayForm"
  [style]="{ width: '50vw' }"
  [modal]="true"
>
  <form [formGroup]="formGroup" class="form">
    <div *ngFor="let col of fields">
      <label [for]="col.field">{{ col.header }} </label>
      <div class="col-lg-6 col-md-9 col-sm-12 mb-4 px-0">
        <input
          *ngIf="col.type === 'input'"
          class="form-control"
          [class.invalid]="
            this.formGroup.controls[col.field].touched &&
            this.formGroup.controls[col.field].invalid
          "
          [class.valid]="
            this.formGroup.controls[col.field].touched &&
            this.formGroup.controls[col.field].valid
          "
          [formControlName]="col.field"
          [formControlName]="col.field"
          [name]="col.field"
          [placeholder]="col.placeholder ? col.placeholder : ''"
        />

        <p-dropdown
          *ngIf="col.type === 'select'"
          styleClass="w-100"
          optionLabel="name"
          optionValue="value"
          [placeholder]="
            col.placeholder ? col.placeholder : 'Seleccione una opción'
          "
          [options]="col.options"
          [formControlName]="col.field"
          [showClear]="true"
          [filter]="true"
          filterBy="name"
        ></p-dropdown>

        <textarea
          *ngIf="col.type === 'textarea'"
          pInputTextarea
          [rows]="3"
          [cols]="58"
          [formControlName]="col.field"
        ></textarea>

        <div *ngIf="col.type === 'checkbox'" class="d-flex">
          <p-inputSwitch
            [formControlName]="col.field"
            [disabled]="
              formGroup.controls.employeeId.value &&
              formGroup.controls.active.value
            "
          ></p-inputSwitch>
          <span class="mx-3">
            {{
              this.formGroup.controls[col.field].value ? "Activo" : "Inactivo"
            }}
          </span>
        </div>

        <p-calendar
          *ngIf="col.type === 'date'"
          styleClass="w-100"
          dateFormat="dd.mm.yy"
          [formControlName]="col.field"
          [showButtonBar]="true"
          [locale]="vehicleService.calendar.es"
          [defaultDate]="vehicleService.calendar.today"
        ></p-calendar>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="displayForm = false"
    >
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="formGroup.invalid"
      (click)="saveVehicle()"
    >
      Guardar
    </button>
  </ng-template>
</p-dialog>

<!-- VEHICLE DETAILS DIALOG -->
<p-dialog
  *ngIf="vehicleService.selectedVehicle"
  header=" "
  [(visible)]="displayDetails"
  [dismissableMask]="true"
  [closable]="true"
  [style]="{ width: '50vw' }"
  [modal]="true"
>
  <div class="container-fluid p-0">
    <!-- TITLE -->
    <div class="title p-1 pl-4 my-auto">
      <b>{{ vehicleService.selectedVehicle.plate }}</b>
      <br />
      <b>{{ vehicleService.selectedVehicle.manufacturerName }} </b>
      <b>{{ vehicleService.selectedVehicle.modelName }}</b>
    </div>
    <!-- INFO -->
    <hr />
    <div class="row">
      <div class="info-container col-6">
        <div class="col-12">
          <div class="d-flex">
            <b>Estado</b>
            <span
              class="d-flex align-items-center justify-content-center mx-2 my-auto p-1 rounded-circle text-white badge bg-{{
                vehicleService.selectedVehicle.active ? 'success' : 'danger'
              }}"
              [pTooltip]="
                vehicleService.selectedVehicle.active ? 'Activo' : 'Inactivo'
              "
              tooltipPosition="top"
            >
              <i
                *ngIf="vehicleService.selectedVehicle.active"
                class="fas fa-check"
              ></i>
              <i
                *ngIf="!vehicleService.selectedVehicle.active"
                class="fas fa-times"
              ></i>
            </span>
          </div>
          <div>
            <b>Conductor</b>
            <span>
              {{
                vehicleService.selectedVehicle.employeeName
                  ? vehicleService.selectedVehicle.employeeName
                  : "Sin asignar"
              }}
            </span>
          </div>
        </div>

        <div class="col-12 my-3">
          <div>
            <b>Fecha de alta</b>
            {{ vehicleService.selectedVehicle.entryDate | date: "dd/MM/yyyy" }}
          </div>
          <div>
            <b>Fecha de baja</b>
            {{
              vehicleService.selectedVehicle.leavingDate | date: "dd/MM/yyyy"
            }}
          </div>
        </div>

        <div class="col-12 my-3">
          <div>
            <b>Tipo de vehículo</b>
            {{ vehicleService.selectedVehicle.vehicleTypeName }}
          </div>
          <div>
            <b>Combustible</b>
            {{ vehicleService.selectedVehicle.fuelTypeName }}
          </div>
          <div>
            <b>Transmissión</b>
            {{ vehicleService.selectedVehicle.transmissionTypeName }}
          </div>
          <div>
            <b>Consumo</b>
            {{ vehicleService.selectedVehicle.fuelConsumption }}
            <span>&nbsp;l/100km</span>
          </div>
          <div>
            <b>Emisiones</b>
            {{ vehicleService.selectedVehicle.pollutingEmissions }}
            <span>&nbsp;g/km</span>
          </div>
        </div>

        <div class="col-12 my-3">
          <div>
            <b>Financiera</b>
            {{ vehicleService.selectedVehicle.financialCompanyName }}
          </div>
          <div>
            <b>Tipo de financiación</b>
            {{ vehicleService.selectedVehicle.financingTypeName }}
          </div>
          <div>
            <b>Número de contrato</b>
            {{ vehicleService.selectedVehicle.contractNumber }}
          </div>
          <div>
            <b>Cuota mensual</b>
            {{ vehicleService.selectedVehicle.monthlyFee }}
            <span>&nbsp;€</span>
          </div>
          <div>
            <b>Kms máximos</b>
            {{ vehicleService.selectedVehicle.maxMileage }}
          </div>
        </div>

        <div class="col-12 mt-3">
          <div>
            <b>Delegación</b>
            {{ vehicleService.selectedVehicle.assignedAtCompanyName }}
          </div>
          <div>
            <b>Kilometraje</b>
            {{ vehicleService.selectedVehicle.mileage }}
          </div>
          <div>
            <b>Bastidor</b>
            {{ vehicleService.selectedVehicle.carframe }}
          </div>
          <div>
            <b>Observaciones</b>
            {{ vehicleService.selectedVehicle.observations }}
          </div>
        </div>
      </div>
      <div class="col-6">
        <b>Histórico de conductores</b>
        <div class="card p-3 mt-3 overflow-auto">
          <p-timeline
            *ngIf="
              vehicleService.selectedVehicle?.history;
              else noEventsTemplate
            "
            [value]="vehicleService.selectedVehicle.history"
          >
            <ng-template pTemplate="content" let-event>
              <small class="p-text-secondary"
                >{{ event.startDate }} - {{ event.endDate }}</small
              >
            </ng-template>
            <ng-template pTemplate="opposite" let-event>
              <i class="fas fa-car mr-1"></i>
              {{ event.driver }}
            </ng-template>
          </p-timeline>
          <ng-template #noEventsTemplate>
            <span>No se han obtenido registros para este vehículo</span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<!-- TOAST -->
<p-toast></p-toast>
