<div class="py-4 pr-4 table-container">
  <p-table
    *ngIf="driverService.drivers; else drTemplate"
    #driverTable
    [value]="driverService.drivers"
    [columns]="driverService.cols"
    [rows]="10"
    [(selection)]="driverService.selectedDriver"
    dataKey="rowId"
    styleClass="p-datatable-sm"
    [scrollable]="true"
    scrollHeight="36vh"
  >
    <ng-template pTemplate="caption">
      <h5>Conductores</h5>
      <small>
        {{ vehicleService.selectedVehicle.plate }}
        {{ vehicleService.selectedVehicle.manufacturerName }}
        {{ vehicleService.selectedVehicle.modelName }}</small
      >
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of driverService.cols" [style.width]="col.width" />
        <col style="width: 120px" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of driverService.cols" style="width: 140px">
          {{ col.header }}
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr (click)="showDriverDetails(rowData)">
        <td *ngFor="let col of columns" [ngSwitch]="col.field">
          <span
            *ngSwitchCase="'active'"
            class="{{ rowData[col.field] ? 'custom-badge type-active' : '' }}"
          >
            {{ rowData[col.field] ? "Activo" : "" }}
          </span>
          <span *ngSwitchDefault>
            {{ rowData[col.field] }}
          </span>
        </td>
        <td>
          <button
            *ngIf="rowData.active"
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-danger p-button-outlined mx-2"
            pTooltip="Quitar conductor"
            tooltipPosition="bottom"
            (click)="removeDriver(rowData, $event); $event.stopPropagation()"
          ></button>
        </td>
      </tr>
    </ng-template>
    <!-- EMPTY -->
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">No se han obtenido resultados</td>
      </tr>
    </ng-template>
  </p-table>
  <!-- LOADER -->
  <ng-template #drTemplate>
    <app-skeleton-table></app-skeleton-table>
  </ng-template>
</div>
<!-- MESSAGES -->
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
