<form [formGroup]="form" class="form">
  <div *ngFor="let f of fields">
    <label [for]="f.field">{{ f.header }} </label>
    <div class="col-lg-6 col-md-9 col-sm-12 mb-4 px-0">
      <input
        *ngIf="f.type === 'input'"
        class="form-control"
        [class.invalid]="
          form.controls[f.field].touched && form.controls[f.field].invalid
        "
        [class.valid]="
          form.controls[f.field].touched && form.controls[f.field].valid
        "
        [formControlName]="f.field"
        [formControlName]="f.field"
        [name]="f.field"
        [placeholder]="f.placeholder ? f.placeholder : ''"
      />
      <div *ngIf="f.type === 'select'">
        <p-dropdown
          *ngIf="f.options | async as options"
          styleClass="w-100"
          [optionLabel]="f.optionLabel ? f.optionLabel : 'name'"
          [optionValue]="f.optionValue ? f.optionValue : 'value'"
          [options]="options"
          [autoDisplayFirst]="false"
          [placeholder]="f.placeholder ? f.placeholder : ''"
          [formControlName]="f.field"
          [showClear]="true"
          [editable]="true"
          [filter]="true"
          filterBy="name"
        ></p-dropdown>
      </div>

      <textarea
        *ngIf="f.type === 'textarea'"
        pInputTextarea
        [rows]="3"
        [cols]="58"
        [formControlName]="f.field"
      ></textarea>

      <div *ngIf="f.type === 'checkbox'" class="d-flex flex-column">
        <div class="d-flex flex-row">
          <p-inputSwitch [formControlName]="f.field"></p-inputSwitch>
          <span class="mx-3">
            {{ form.controls[f.field].value ? "Activo" : "Inactivo" }}
          </span>
        </div>
        <small *ngIf="!form.controls[f.field].value" class="text-danger"
          >*Puede que tenga un conductor asociado a este vehículo, se anulará
          automáticamente.</small
        >
      </div>

      <p-calendar
        *ngIf="f.type === 'date'"
        styleClass="w-100"
        dateFormat="dd.mm.yy"
        [placeholder]="f.placeholder ? f.placeholder : ''"
        [formControlName]="f.field"
        [showButtonBar]="true"
        [locale]="vehicleService.calendar.es"
        [defaultDate]="vehicleService.calendar.today"
      ></p-calendar>
    </div>
  </div>
</form>

<div class="float-right pb-3">
  <button type="button" class="btn btn-secondary mr-4" (click)="ref.close()">
    Cancelar
  </button>
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="form.invalid"
    (click)="saveVehicle()"
  >
    Guardar
  </button>
</div>
